#add-data-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='editor-title')
	.modal-dialog.modal-lg(role='document')
		form#editor.modal-content(role="form" data-toggle="validator")
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4#editor-title.modal-title Add Data
			.modal-body
				label(for="knowledge-collections-list") Choose Collection
				select.form-control#knowledge-collections-list(name="knowledge-collections-list" placeholder="Collection")
				label(for="new-knowledge-data") Data (JSON)
				textarea#new-knowledge-data.form-control(name="new-knowledge-data", rows= "10", value="" placeholder='{\n "attribute_name": "attribute_value", \n "attribute_name_1": "attribute_value_1" \n}' required)
			.modal-footer
				button#btn-add-data.btn.btn-primary(data-ready-text="Add", data-complete-text="Added", data-processing-text="<i class='fa fa-circle-o-notch fa-spin'></i> Adding", data-error-text="Error") Add

block append scripts
	script(src='/assets/plugin/selectize/selectize.min.js')
	script.

		$(document).ready(() => {
			$('#knowledge-collections-list').selectize({
				create: true
			}),

			getCollections()
		})

		getCollections = () => {
			$.ajax({
				url: '/parse/schemas',
				method: 'GET',
				headers: {
					"Content-Type": "application/json",
					"X-Parse-Application-Id": "myAppId",
					"X-Parse-Master-Key": "myMasterKey"
				},
				success: response => {
					const collectionNames = response.results.map(result => {
						return {text: result.className, value: result.className}
					})

					$('#knowledge-collections-list')[0].selectize.addOption(collectionNames)
				},
				error: error => {
					console.log('error:', error)
				}
			})
		}

		$('#btn-add-data').on('click', event => {
			event.preventDefault()
			const collection = $('#knowledge-collections-list').val()
			const newData = $('#new-knowledge-data').val()

			$.ajax({
				url: '/parse/classes/' + collection,
				method: 'POST',
				headers: {
					"Content-Type": "application/json",
					"X-Parse-Application-Id": "myAppId"
				},
				data: newData,
				success: response => {
					$('#btn-add-data').button('complete');
				},
				error: error => {
					$('#btn-add-data').button('error');
				}
			})			
		})