extends layout

block append styles
	link(rel='stylesheet', type='text/css', href='https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css')
block content
	// Wrapper
	#wrapper
		nav(class="navbar-default navbar-static-side", role="navigation")
		#page-wrapper.gray-bg
			.row.wrapper.border-bottom.page-heading.white-bg
				.col-lg-12
					h2= title
			div(style="padding: 18px; min-height: 678px;")
				form(style="display: flex; justify-content: space-between; margin-bottom: 12px")
					button.btn.btn-primary.pull#add-data(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="addData(this)")
						i.fa.fa-plus
						|  Add Data
		include ./modals/add-data
block append scripts
	//- script(src='/assets/plugin/jquery-confirm/jquery-confirm.min.js')
	script.
		function addData() {
			$('#add-data-modal').modal('show')
		}