doctype html
html(lang="en")
	block vars
	head
		title= title
		block meta
			meta(charset="utf-8")
			meta(http-equiv="X-UA-Compatible", content="IE=edge")
			meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		block styles
			link(rel='stylesheet', type='text/css', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
			//- link(rel='stylesheet', type='text/css', href='/assets/css/style.min.css')
			link(rel='stylesheet', type='text/css', href='/assets/plugin/jquery/css/jquery-ui.min.css')
			//- link(rel='stylesheet', type='text/css', href='/assets/plugin/metisMenu/metisMenu.min.css')
			//- link(rel='stylesheet', type='text/css', href='/assets/plugin/select2/css/select2.min.css')
			//- link(rel='stylesheet', type='text/css', href='/assets/plugin/select2/css/select2-bootstrap.min.css')
			//- link(rel='stylesheet', type='text/css', href='/assets/plugin/intl-tel-input/css/intlTelInput.css')
			//- link(rel='stylesheet', type='text/css', href='/assets/plugin/bootstrap-tour/css/bootstrap-tour.min.css')
			//- link(rel='stylesheet', type='text/css', href='/assets/plugin/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css')
		block headscripts
			script(src='https://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
			script(src='/assets/plugin/jquery/js/jquery-ui.min.js')
			script(src='/assets/plugin/jquery/js/jquery.ui.widget.js')
			//- script(src='/assets/plugin/underscore/underscore-min.js')
			//- script(src='/assets/plugin/highlight.js')
			script(src="https://cdnjs.cloudflare.com/ajax/libs/async/2.6.0/async.js")

			<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js" />
			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js" />
			<![endif]-->  
	body
		block content
			
		block modals
		
		block scripts
			script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
			script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
			//- script(src='/assets/plugin/js.cookie.min.js')
			//- script(src='/assets/plugin/jquery.serialize-object.min.js')
			//- script(src='/assets/plugin/select2/js/select2.min.js')
			//- script(src='/assets/plugin/filehandlers/js/load-image.all.min.js')
			//- script(src='/assets/plugin/filehandlers/js/canvas-to-blob.min.js')
			//- script(src='/assets/plugin/bootstrap-tour/js/bootstrap-tour.min.js')
			//- script(src='/assets/plugin/bootstrap-switch/dist/js/bootstrap-switch.min.js')
			//- script(src='/assets/plugin/metisMenu/metisMenu.min.js')
			//- script(src='/assets/plugin/slimscroll/jquery.slimscroll.min.js')
			//- script(src='/assets/plugin/pace/pace.min.js')
			//- script(src='/assets/plugin/inspinia.min.js')
			//- script(src='/assets/js/global.js')
